.logo-competence{
max-width: 45%;
}



/* horizontale scroll studies */

.outerH{
  overflow-x: hidden ;
}

.sliderH{
  display: flex;
  width: 300vw;
}

.underInnerH {
    margin-top: 58%   /* Augmente la marge en haut de la boîte de % de la hauteur de son conteneur (.sectionH) */
}

.sectionH {
  height: 100vh;
  width: 100%;

  .innerH{
    margin: 7em;
    position: relative;
    display: flex;
    height: calc(100% - 14em);

    .imgH{
      position: absolute;
      width: 80%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }


  }



}

.img-logo{
  width: 50px;
  height: 50px;
}

.start-distH{
  width: 100px;
  height: 100%;
}
.endstart-distH{
  width: 100px;
  height: 100%;
}

.end-distH{
  width: 100px;
  height: 100%;
}

.betweenS-distH{
  width: 1000px;
  height: 100%;
}
.betweenL-distH{
  width: 350px;
  height: 100%;
}

.start-blockH{
  width: 100px;
  height: 100%;
}
.blockS-H{
  width: 2800px;
  height: 100%;
}
.blockL-H{
  width: 2800px;
  height: 100%;
}
.title-block{
  font-size: 130%;
}


@keyframes flotter {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.flotter {
  animation: flotter 2s ease-in-out infinite;
}

