#aboutme-iframe{
  display: none;
  position: fixed; /* Position fixe pour que l'iframe reste toujours visible */
  top: 0; /* Ajustez ces valeurs pour positionner l'iframe où vous le souhaitez */
  left: 0;
  width: 100%; /* Ajustez la largeur et la hauteur selon vos besoins */
  height: 100%;
  border: none; /* Supprime la bordure de l'iframe */
  z-index: 9900;
  opacity: 0%;
  transform: translateY(100%); /* Déplacer l'iframe en bas de son conteneur */
  transition: opacity 0.25s ease, transform 0.1s ease;
}

#hobby-iframe{
  display: none;
  position: fixed; /* Position fixe pour que l'iframe reste toujours visible */
  top: 0; /* Ajustez ces valeurs pour positionner l'iframe où vous le souhaitez */
  left: 0;
  width: 100%; /* Ajustez la largeur et la hauteur selon vos besoins */
  height: 100%;
  border: none; /* Supprime la bordure de l'iframe */
  z-index: 9900;
  opacity: 0%;
  transform: translateX(-100%); /* Déplacer l'iframe en bas de son conteneur */
  transition: opacity 0.25s ease, transform 0.1s ease;
}
#projet-iframe{
  display: none;
  position: fixed; /* Position fixe pour que l'iframe reste toujours visible */
  top: 0; /* Ajustez ces valeurs pour positionner l'iframe où vous le souhaitez */
  left: 0;
  width: 100%; /* Ajustez la largeur et la hauteur selon vos besoins */
  height: 100%;
  border: none; /* Supprime la bordure de l'iframe */
  z-index: 9900;
  opacity: 0%;
  transform: translateX(100%); /* Déplacer l'iframe en bas de son conteneur */
  transition: opacity 0.25s ease, transform 0.1s ease;
}

#popupCloser{
  display: none;
  position: fixed; /* Position fixe pour que l'iframe reste toujours visible */
  top: 5%; /* Ajustez ces valeurs pour positionner l'iframe où vous le souhaitez */
  left: 4%;
  border: none; /* Supprime la bordure de l'iframe */
  z-index: 9902;
}


.arrow-hitbox-down {
  width: 100%;
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9802;

}

.arrow-hitbox-left {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-75%);
  z-index: 9802;
}

.arrow-hitbox-right {
  width: 15%;
  height: 100%;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-75%) rotate(180deg);
  z-index: 9802;
}

.arrow-left {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-75%);
}

.arrow-right {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-75%) rotate(180deg);
}

.arrow-down {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(270deg);
}


.logo-left {
  position: fixed;
  top: 50%;
  left: 5%;
  transform: translateY(-93%);
}

.logo-right {
  position: fixed;
  top: 50%;
  right: 5%;
  transform: translateY(-103%);
}

.logo-down {
  position: fixed;
  bottom: 11%;
  left: 50%;
  transform: translateX(-50%);
}
.logo-down,
.logo-left,
.logo-right{
  width: 5%;
}

.arrow-left,
.arrow-right,
.arrow-down {
  z-index: 9800;
  width: 6%; /* Taille réduite */
}

.arrow-right {
  transition: transform 0.3s ease-in-out;
}
.arrow-left {
  transition: transform 0.3s ease-in-out;
}
.arrow-down {
  transition: transform 0.3s ease-in-out;
}


body:has(.arrow-hitbox-down:hover) .arrow-down
{
  transform: scale(0.8) rotate(270deg) translateX(2%) translateY(-45%);
}
body:has(.arrow-hitbox-right:hover) .arrow-right
{
  transform: scale(0.8) rotate(180deg) translateY(96%);
}
body:has(.arrow-hitbox-left:hover) .arrow-left
{
  transform: scale(0.8) translateY(-93%) ;
}




.box {
  position: absolute;
  width: 100%;
}

.ocean {
  position: fixed;
  bottom: 0;
  z-index:-1;

}
